set MYSQL_ROOT_USER=
set MYSQL_ROOT_PASSWORD=
set EMAIL_USERNAME=
set EMAIL_PASSWORD=
set EMAIL_HOST=
set EMAIL_PORT=587
set EMAIL_FROM=
set ACTIVEMQ_USER=
set ACTIVEMQ_PASSWORD=
set LOG_LEVEL=
set JIRA_CLIENT_REDIRECT_URI=
set JIRA_CLIENT_ID=
set JIRA_CLIENT_SECRET=
set RECAPTCHA_SECRET=