<div>
  <div class="controls" *ngIf="showControls">
    {{this.firstIndex+1}}-{{this.lastIndex+1}}/{{this.slides.length}}
    <button class="slider-button" (click)="scrollToSlide(this.firstIndex-1)"><i class="fa fa-arrow-left"></i></button>
    <button class="slider-button" (click)="scrollToSlide(this.firstIndex+1)"><i class="fa fa-arrow-right"></i></button>
  </div>
  <div class="scroll-container" #scroller>
    <div class="slides-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>