.git
.vscode
node_modules

/angular/node_modules
/angular/.angular/cache
/angular/dist

/express/node_modules
/express/dist
/express/coverage

.editorconfig
.gitignore
.dockerignore
Jenkinsfile
bitbucket-pipelines.yml
*.zip
*.md
*.bat


.yarn
.yarn/*
.yarn/cache
.yarnrc.yml
.pnp.cjs

/coverage
/.nyc_output
/.sass-cache

.idea
.DS_Store
*.log