# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular/dist*
/angular/tmp
/angular/.tmp
/angular/out-tsc
/express/dist*
# Only exists if Bazel was run
/angular/bazel-out

# dependencies
/angular/node_modules
/express/node_modules
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/angular/.angular/cache
/angular/.sass-cache
/angular/connect.lock
/angular/coverage
/angular/libpeerconnection.log
/express/coverage
npm-debug.log
yarn-error.log
testem.log
/angular/typings

# System Files
.DS_Store
Thumbs.db

#Cypress output files
/cypress/cucumber-json
/cypress/screenshots
/cypress/reports
/cypress/videos
/cypress/reports.zip

# Angular and Express Artifacts
angular/.angular/cache
angular/dist
express/dist
