.summary-chart {
    width: 50%;
}

.per-week-table {
    width: 50%;
}

.disabled-cell {
    background-color: #f4f4f4 !important;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    border-width: 1px;
    padding: 0.5rem 1rem;
}

:host ::ng-deep .p-inputnumber-input {
    width: 56px !important;
    height: 35px !important;
}

:host ::ng-deep .p-menu {
    width: auto;
}

.p-button {
    box-shadow: none !important;
}


:host ::ng-deep .tooltip-width {
    .p-tooltip-text {
        width: max-content;
    }
}

:host ::ng-deep .icon-height{
    font-size: 1.6rem;
}