<center>
<img src="cid:$logoWithText" width="60" height="50">
</center>

<div style="width: 100%; max-width: 600px; background-color: #ffffff; color: #000000;">
    <p style="font-size: 14px; line-height: 1.5; margin-bottom: 1rem;"><b>Hello ${nameOfUser},</b></p>
    <p style="font-size: 14px; line-height: 1.5; margin-bottom: 2rem;">ScrumUpdate Copilot has noticed that
        <b>${OthersCategoryTotalWorkLogPercentage}%</b> of your team's work log hours are currently being logged under
        <b>"${othersCategoryAlias}"</b> issue types. This insight offers a valuable opportunity to enhance your team's
        productivity and project success.
    </p>


    <p style="margin: 10px 0px; font-size: 14px; line-height: .5; color: #161616; "><b style="color: #000000;">App:
            </b>${app}</p>
    <p style="margin-bottom: 10px; font-size: 14px; line-height: .5; color: #161616; "><b style="color: #000000;">Owner:
            </b>${owner}</p>
    <p style="margin-bottom: 10px; font-size: 14px; line-height: .5; color: #161616; "><b style="color: #000000;">Team:
        </b>${teams}</p>
    <p style="margin-bottom: 30px; font-size: 14px; line-height: .5; color: #161616; "><b style="color: #000000;">Date
            Range: </b>${workLogFromDate} - ${workLogToDate}</p>


    <div style="display: table; width: 100%; text-align: center;">
        <div style="display: table-row;">
            <div style="display: table-cell; padding: 10px;">
                <div
                    style="border-radius: 7px; height: 80px; width: 250px; padding: 1rem; background: #eff3f8; display: table; margin: 0 auto;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div style="display: inline-block;">
                            <span
                                style="color: ${CumulativeWorkLogPercentageColorCode}; font-size: 24px; font-weight: bold; vertical-align: middle;">${CumulativeWorkLogPercentage}%</span>
                            <span
                                style="font-size: 14px; font-weight: bold; background: #dbdbdb; border-radius: 6px; margin-left: 3px; padding: 3px; vertical-align: middle;">${commulativeWorkInDays}
                                days</span>
                        </div>
                        <div style="margin-top: 0.7rem;">
                            <span style="color: #808080; font-size: 14px;">Total work logged</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: table-cell; padding: 10px;">
                <div
                    style="border-radius: 7px; height: 80px; width: 250px; padding: 1rem; background: #eff3f8; display: table; margin: 0 auto;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div style="display: inline-block;">
                            <span
                                style="color: #dc143c; font-size: 24px; font-weight: bold; vertical-align: middle;">${OthersCategoryTotalWorkLogPercentage}%</span>
                            <span
                                style="font-size: 14px; font-weight: bold; background: #dbdbdb; border-radius: 6px; margin-left: 3px; padding: 3px; vertical-align: middle;">${otherCategoriesWorklogInDays}
                                days</span>
                        </div>
                        <div style="margin-top: 0.7rem;">
                            <span style="color: #808080; font-size: 14px;">${othersCategoryAlias} work logged</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <p style="margin-bottom: 0; font-size: 14px; line-height: 1.5; color: #808080;">
        <b style="color: #000000;">Next Steps:</b>
    </p>
    <ul style="font-size: 14px; color: #525252;">
        #if ($cumulativePercentage < 90) <li>Ensure completion of the missing work logs. Currently, only
            <b>${CumulativeWorkLogPercentage}%</b> of
            work
            hours have been logged by your team.</li>
            #end
            <li>Refer to ScrumUpdate to review work log distribution and correct issue type categorization for better
                productivity.</li>
    </ul>

    <a href="$khojiUrl" target="_blank" class="primary-button"
        style="display: inline-block; background-color: #256477; border-radius: 5px; color: #ffffff; font-size: 14px; text-decoration: none; cursor: pointer; padding: 10px 20px; border-style: none; margin-top: 20px">View
        Details in ScrumUpdate</a>

    <p style="font-size: 14px; line-height: 1; margin-bottom: 1rem; color: #808080;">Unsubscribe to ScrumUpdate email
        notification by <a href="$UnsubscribeFromEmailkhojiUrl">clicking here</a></p>
    <p style="font-size: 14px; line-height: 1.5; margin-bottom: 1rem;"><i
            style="font-size: 12px; color: #808080;">DISCLAIMER: Please be advised that the data on the server may have
            been updated since the generation of this email. For the most current and accurate information, we encourage
            you to refer to the ScrumUpdate application.</i></p>
</div>