:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:host ::ng-deep p-card.p-element {
  min-width: 70%;
}

:host ::ng-deep .p-card-body {
  padding-top: 0;
}

.card-content {
  text-align: center;
  height: 100% !important;
}

:host ::ng-deep .p-card-content {
  padding: 0 !important;
}

.col-12 {
  display: flex;
  justify-content: center;
}

.col-md-4{
  width: 31.3333%;
}

.custom-card {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;
  width: 900px;
  position: relative;
  min-height: 44vh;
  max-height: 60vh;
  border-width: 2px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 50%;
  padding-top: 0.5rem;
  margin-top: auto;
  margin-bottom: 10px;
}

.recommended-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #12576c;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  border-bottom-right-radius: 0.375rem;
  z-index: 10;
}

.title{
  font-size: 1.1rem;
  font-weight: 700;
}

:host ::ng-deep .p-card-footer {
  margin-bottom: 10px;
  padding: 1rem 0 0 0;
 }

.center-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-check-rounded-icon {
  background-color: #12576c;
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2vh;
  font-size: 0.5rem;
  height: 2vh;
  border: 1px solid #12576c;
}

.custom-rounded-icon {
  border: 1px solid #12576c;
  border-radius: 50%;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2vh;
  height: 2vh;
}

.selected-card {
  border-color: #12576c;
}

.disabled-card{
  background-color: #fafafa;
  border: 2px solid #dbdbdb;
  cursor: default;
}

.p-button-outlined {
  height: 2.5rem;
}
