:host ::ng-deep {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  gap: 20px;
}


.flex-item {
  position: relative;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 15px;
  background: #eff3f8 !important;
  box-sizing: border-box;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-item:first-child {
  flex: 1.3;
}

.flex-item:last-child {
  flex: 1;
}

/* Remove margin from the last item */
.flex-item:last-child {
  margin-right: 0;
}

.flex-item:first-child {
  background-color: var(--bluegray-50);
}

.overflow-hidden {
  overflow: hidden;
}

p {
  color: black;
}

.textarea-wrapper {
  position: relative;
  height: 18vh;
  display: flex;
  flex-direction: column;
}

.textarea-wrapper textarea {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding-right: 35px;
}

.char-count {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8em;
  color: #999;
  padding: 0;
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.footer {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  box-sizing: border-box;
}

.ragContainer {
  padding: 0 !important;
}

// :host ::ng-deep .custom-button-email .p-button-label {
//   width: auto;
//   overflow: visible;
//   text-overflow: clip;
// }

.custom-table {
  height: 45vh !important;
}

:host ::ng-deep .custom-table .p-treetable table {
  border: none !important;
}

:host ::ng-deep .custom-table .p-treetable table th,
:host ::ng-deep .custom-table .p-treetable table td {
  border: none !important;
  padding: 0.4rem !important;
  background: #eff3f8 !important;
}

:host ::ng-deep .custom-table .p-treetable table tr {
  border: none !important;
  background: #eff3f8 !important;
}

:host ::ng-deep .custom-table .p-treetable i {
  color: var(--primary-color) !important;
  font-weight: 700;
  font-size: 0.875rem;
}

:host ::ng-deep .custom-table .p-treetable .p-treetable-toggler {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

:host ::ng-deep .custom-table .p-treetable .exclamation-color {
  color: rgb(185, 42, 28) !important;
  font-weight: 600 !important;
  font-size: 1rem;
}

.exclamation-color {
  color: rgb(185, 42, 28) !important;
  font-weight: 600 !important;
  font-size: 1rem;
}

.custom-table .table-container {
  overflow: hidden;
  transition: height 0.3s ease;
}

.pi-search {
  color: #949494;
  font-weight: 600;
  font-size: 1.25rem;
}

.input {
  padding-left: 2.5rem;
}

.email-input {
  width: 500px;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-email-dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.email-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.email-input-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 60px;
}
.email-label{
  width: 33%;
}

.ellipses-label{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:-1px;
}

.flex-40 {
  flex: 0 0 45%;
}

.flex-60 {
  flex: 0 0 55%;
}

.div-email-input{
  width: 65%;
  position: relative; 
}

.email-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
}