<div class="flex align-items-center border-round-xs px-3 py-2" style="background-color:#eff2f7">
  <div class="flex align-items-center justify-content-between gap-3">
    <div class="text-md">{{ (translation$ | async).timelog.workLogStatistics.totalWorklog }}:</div>
    <div echarts [options]="chartOption" style="width:35px;height:35px"></div>
    <div class="text-base font-bold">
      {{ this.summaryData?.loggedPercentage.toFixed(2) }}%
    </div>
  </div>
  <p-divider layout="vertical"></p-divider>
  <div class="flex justify-content-between gap-3">
    <div class="text-md">
      {{ (translation$ | async).timelog.workLogStatistics.availableCapacity }}
      <span
        class="pi pi-info-circle text-sm text-600"
        [pTooltip]="tooltipForAvailableCapacity"
        tooltipPosition="top"
      >
      </span>
      :
    </div>
    <div class="text-base font-bold">
      {{ this.summaryData?.availableCapacity }}
      {{ this.summaryData?.availableCapacity === 1 ? 'day' : 'days' }}
    </div>
  </div>
  <p-divider layout="vertical"></p-divider>
  <div class="flex justify-content-between gap-3">
    <div class="text-md">{{ (translation$ | async).timelog.workLogStatistics.loggedTime }}:</div>
    <div class="text-base font-bold">
      {{ this.summaryData?.loggedTime }}
      {{ this.summaryData?.loggedTime === 1 ? 'day' : 'days' }}
    </div>
  </div>
</div>
